*{
    margin: 2px;
    padding: 2px;;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}
body{
    background: linear-gradient(to right top,#355C7D,#CD6C84);
   background-attachment: scroll;
}
a{
    text-decoration:none;
    color:white;
}
h1{
    color:#02345f;
}

.head-navig a{
    color:yellow;
}
.body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.head-navig{
    display:flex;
    align-items: center;
    justify-content: center;
}
.but1,.but2,.but3,.but4,.but5,.but6,.but7,.but8,.but9{
    margin:10px;
    border-radius: 10px;
    border:0;
    font-size: 15px;
    width: 120px;
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.but1{    
    background-color:#f8b195;
}
.but2{    
    background-color:#f58783;
}
.but3{    
    background-color:#f67280;
}
.but4{   
    background-color: #cd6c84;
}
.but5{    
    background-color:#6c5b7b;
}

.but6{    
    background-color:#4e679e;
}
.but7{  
    background-color:#386791; 
}   
.but8{  
    background-color:#184f80; 
}  
.but9{  
    background-color:#174268; 
} 
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.9 ),
      rgba(255, 255, 255, 0.1)
    );
    border-radius: 20px;
    z-index:2;
    backdrop-filter:blur(3px);
    display:flex;
    padding:20px;
}
.dashboard{
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    border-radius: 20px;
}
.dashboard img{
    border-radius:50%;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
.songs{
    width:100%;
    color:#02345f;
}
.songs h1{
    font-size:50px;
    margin-bottom: 25px;
}
.circle1,.circle2{
    background:linear-gradient(to right bottom,rgba(246,114,128,0.7), rgba(53,92,125,0.9));
    border-radius: 50%;
    position: absolute;
}
.circle1{    
    bottom: -2%;
    left: 10%;
    width: 250px;
    height: 250px;
    z-index:-1;
}
.circle2{
    top: 12%;
    left: 68%;
     width: 200px;
    height: 200px;
}
.footer{
    color:white;
} 
.footer h1{
    color:white;
}