*{
    margin: 2px;
    padding: 2px;;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}
body{
    background: linear-gradient(to right top,#355C7D,#CD6C84);
}
a{
    text-decoration:none;
}
.head-navig a{
    color:yellow;
}
.body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.head-navig{
    display:flex;
    align-items: center;
    justify-content: center;
}
.but1,.but2,.but3,.but4,.but5,.but6,.but7,.but8,.but9{
    margin:10px;
    border-radius: 10px;
    border:0;
    font-size: 15px;
    width: 120px;
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.but1{    
    background-color:#f8b195;
}
.but2{    
    background-color:#f58783;
}
.but3{    
    background-color:#f67280;
}
.but4{   
    background-color: #cd6c84;
}
.but5{    
    background-color:#6c5b7b;
}

.but6{    
    background-color:#4e679e;
}
.but7{  
    background-color:#386791; 
}   
.but8{  
    background-color:#184f80; 
}  
.but9{  
    background-color:#174268; 
} 
.title h1{
    font-size:40px;
    color:white;
    background-color:rgba(255,255,255,0.1);
}
.glass{
    background: white;
    min-height: 80vh;
    width: 55%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.9 ),
      rgba(255, 255, 255, 0.1)
    );
    border-radius: 20px;
    z-index:2;
    backdrop-filter:blur(3px);
    display:flex;
}
.dashboard,.info,.title-1,.details{
    display:flex;
    align-items: center;
    justify-content:center;
}
.dashboard{
    flex:1;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    border-radius: 20px;
}
.dashboard img{
    border-radius:50%;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background: linear-gradient(to right top,#355C7D,#CD6C84);
}
.info{
    flex:2;
    flex-direction: column;
}
.title-1{
    flex:1;
    font-size: 25px;
    color:#024b8a;
    padding-top:15px;
}
.details{
    flex-direction: column;
    flex:9;
}
.name,.born,.education{
    width: 100%;
    height:25%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.9 ),
      rgba(255, 255, 255, 0.1)
    );
    border-radius: 20px;
    z-index:2;
    backdrop-filter:blur(3px);
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:5px;
    margin:5px;
    color:#03233f;
}
.info h2{
    background: linear-gradient(
        to right bottom,
        rgba(248, 211, 224, 0.9),
        rgba(255, 255, 255, 0.3)
      ); 
    margin:0;   
    width:100%;
    border-radius: 10px;
    display:flex;
    align-items:flex-start;
    color:#ff6b90   ;
}
.image{
    background: white;
    width: 90%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.9 ),
      rgba(255, 255, 255, 0.1)
    );
    border-radius: 20px;
    z-index:2;
    backdrop-filter:blur(3px);
    display:grid;
    grid-template-columns:600px 500px ;
    grid-template-rows: 450px 450px;
    color:#024b8a;
    align-items: center;
    justify-content:center;
    text-align:center;
}
.item1 img,.item4 img{
    border-radius: 20px;
    background: linear-gradient(to right top,#355C7D,#CD6C84);
}
.item1,.item2,.item3,.item4{
    display:flex;
    align-items: center;
    justify-content:center;
}
.item1,.item4{
    border-radius: 20px;
}
.item2,.item3{
    color:#024b8a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    font-size: 30px;
}
.item3{
    display:flex;
    flex-direction: column;
}
.hobbies,.footer{
    color:white;
}
.circle1,.circle2,.circle3,.circle4{
    background:linear-gradient(to right bottom,rgba(246,114,128,0.7), rgba(53,92,125,0.9));
    border-radius: 50%;
    position: absolute;
}
.circle2,.circle4{
    width: 200px;
    height: 200px;
}
.circle1{    
    bottom: -2%;
    left: 10%;
    width: 250px;
    height: 250px;
    z-index:-1;
}
.circle2{
    top: 12%;
    left: 68%;
   
}
.circle3{
    top: 170%;
    left: 35%;
    width: 250px;
    height: 250px;
    z-index:-1;
}
.circle4{
    top: 250%;
    left: 0%;
    z-index:-1;
}