*{
    margin: 2px;
    padding: 2px;;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items:center;
    text-align:center;
}
body{
    background: linear-gradient(to right top,#355C7D,#CD6C84);
   background-attachment: scroll;
}
a{
    text-decoration:none;
    color:yellow;
}
h1{
    color:white;
}
.body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.head-navig{
    display:flex;
    align-items: center;
    justify-content: center;
}
.but1,.but2,.but3,.but4,.but5,.but6,.but7,.but8,.but9{
    margin:10px;
    border-radius: 10px;
    border:0;
    font-size: 15px;
    width: 120px;
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.but1{    
    background-color:#f8b195;
}
.but2{    
    background-color:#f58783;
}
.but3{    
    background-color:#f67280;
}
.but4{   
    background-color: #cd6c84;
}
.but5{    
    background-color:#6c5b7b;
}

.but6{    
    background-color:#4e679e;
}
.but7{  
    background-color:#386791; 
}   
.but8{  
    background-color:#184f80; 
}  
.but9{  
    background-color:#174268; 
} 
.title{
    margin:40px;
    width:100%;
}
.title h1{
    font-size:40px;
    color:white;
    background-color:rgba(255,255,255,0.1);
}
.lyrics{
    background: white;
    min-height: 80vh;
    width: 55%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.9 ),
      rgba(255, 255, 255, 0.1)
    );
    border-radius: 20px;
    z-index:2;
    backdrop-filter:blur(3px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:20px;
    border-left: 3px solid white ;
    border-top: 3px solid white;
}
.lyrics h1{
color:#355C7D;
}
.circle1,.circle2,.circle3,.circle4,.circle5{
    background:linear-gradient(to right bottom,rgba(246,114,128,0.7), rgba(53,92,125,0.9));
    border-radius: 50%;
    position: absolute;
}
.circle2,.circle4,.circle5{
    width: 200px;
    height: 200px;
}
.circle1{    
    bottom: -2%;
    left: 10%;
    width: 250px;
    height: 250px;
}
.circle2{
    top: 12%;
    left: 68%;
   
}
.circle3{
    top: 180%;
    left: 60%;
    width: 250px;
    height: 250px;
    z-index:-1;
}
.circle4{
    top: 280%;
    left: 0%;
    z-index:-1;
}
.circle5{
    top: 320%;
    left: 80%;
    z-index:-1;
}
.meaning p,.footer p{
    color:white;
}
.image img{
    border-radius:50%;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color:white;
    padding:5px;
    width:50%;
    height:50%;
}

.title-1{
    font-size:25px;
    }